
form {
	width: 75%;
	margin: auto;
}

form input, form label {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

input[type=text], input[type=password] {
	font-size: 1.3rem;
	padding: 10px;
	margin-bottom: 1px;
}

.box-label {
	margin-bottom: 10px;
	text-align: center;
	font-size: 0.9rem;
}

input[type=submit] {
	margin-top: 30px;
	text-align: center;
	width: 75%;
	padding: 10px;
	background-color: orange;
	font-size: 1.3rem;
	color: white;
	text-decoration: none;
	border-radius: 7px;
}

input[type=submit]:hover {
	background-color: #d18700;
}

.hello {
	font-size: 5rem;
	text-align: center;
}
